* {
    box-sizing: border-box;
    align-items: center;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: aqua;
    
}

/* #container {

} */


div#container {
    background-color: pink;
    /* color: blue; */
    display: flex;
    flex-direction: column;

    border: 2px;
    border-color: blue;
    border-style: solid;

}


div#main {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* flex-flow: wrap; */


    /* justify-content: space-evenly;
    align-items: center; */
    border: 2px;
    border-color: orangered;
    border-style: solid;
    overflow:hidden;
}




div.box {

    display: flex;
    flex-direction: column;
    width: 33%;
}

div#center {
    z-index: 1;

}

div#fg {
    position: absolute;
    top: 50%;
    right: 25%;
    z-index: 2;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 00);
    color: white;
    width: 50%;
    height: 50%;

    
    border: 2px;
    border-color: yellow;
    border-style: solid;
}

div#fg:hover {
    border: 5px;
    border-color: red;
    border-style: solid;


    animation-name: slap;
    animation-duration: 2s;


}


/* @keyframes slapping {
    0% {
      margin-left: 100%;
    }
    30% {
      margin-left: 0%;
    }
    100% {
        margin-left: 100%;
    }
} */

@keyframes slap {
    0%, 100%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-10deg);
    }
} 



div#uploader {
    width: 100%;
    color: black;
    display: flex;
    flex-direction: row;

    border: 2px;
    border-color: white;
    border-style: solid;

}

p.title {
    color: black;
}






h1 {
    font-weight: 900;
    width: 100%;
    font-size: 48px;
    text-align: center;


}


ul, p, a, input, button, label {
    font-size: 24px;
    font-weight: 500;
}

img#hand {
    z-index: 3;
    background-color: transparent;
    height: 50%;

    border: 2px;
    border-color: white;
    border-style: solid;

}


/* 
h1
div#results
    div.box
        p.title
        p.result
div#list
    h2
    ul#history

 */

 /* @media only screen and (max-width: 1000px) {
    div#results {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-flow: wrap;

    
        align-items: center;
    }
    div.box {
        width: 80%;

    }
    li {
        width: 20%;
    }
    
} */