* {
    box-sizing: border-box;
    align-items: center;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: aqua;
    
}

div#container {
    /* color: blue; */
    display: flex;
    flex-direction: column;

}

div#title_box {
    height: 25%;
}


div#main {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* flex-flow: wrap; */


    /* justify-content: space-evenly;
    align-items: center; */
    /* overflow:hidden; */
}




div.box {

    display: flex;
    flex-direction: column;
    width: 33%;
}

div#center {
    z-index: 1;

}

div#fg {
    position: fixed;
    top: 50%;
    right: 0%;
    z-index: 2;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 00);
    width: 50%;
    height: 50%;

    
}

/* div#fg:hover {
    border: 5px;
    border-color: red;
    border-style: solid;

    animation-name: slap;
    animation-duration: 2s;
} */

/* @keyframes slapping {
    0% {
      margin-left: 100%;
    }
    30% {
      margin-left: 0%;
    }
    100% {
        margin-left: 100%;
    }
} */

img#hand {
    z-index: 3;
    background-color: transparent;
    height: 55%;
    margin-left: 75%;
    margin-top: 5%;

}


@keyframes slap {
    0% {
        transform: rotate(30deg);
        /* right: 25%; */
        margin-left: 55%;
    }
    25% {
        transform: rotate(45deg);
        /* right: 75%; */
        margin-top: 15%;

    }
    50% {
        transform: rotate(55deg);
        /* right: 75%; */
        margin-left: 0%;
        margin-top: 10%;
    }
    55% {
        transform: rotate(0deg);
        /* right: 25%; */
    }
    100% {
        transform: rotate(0deg);
        /* right: 25%; */
        margin-left: 75%;
    }

} 



div#uploader {
    width: 45%;
    color: black;
    display: flex;
    flex-direction: column;
}

p.title {
    color: black;
}






h1 {
    font-weight: 900;
    width: 100%;
    font-size: 48px;
    text-align: center;


}


ul, p, a, input, button, label {
    font-size: 24px;
    font-weight: 500;
}



/* 
h1
div#results
    div.box
        p.title
        p.result
div#list
    h2
    ul#history

 */

 /* @media only screen and (max-width: 1000px) {
    div#results {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-flow: wrap;

    
        align-items: center;
    }
    div.box {
        width: 80%;

    }
    li {
        width: 20%;
    }
    
} */